h1{
    color: aqua;
}

ul{
    color: azure;
    list-style: square;
}

p{
    color: beige;
}

body{
    background-color: black;
}

img{
    margin: 10px, 50;
    border: 3px seagreen;
    padding: 30px;
}

a{
    color: blanchedalmond;
}